* {
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

:root {
    --text-color: #000;
    --background-color: #fff ;
    --backgrond-main:#333333;
}

body {
    background-color: var(--text-color);
    color: var(--text-color);
    margin: 100px auto;

}


/* 2 карты товаров */
.cards {

    display: flex; 
    margin: 0 auto;
    width: 760px;
    height: 550px; 
    gap: 50px;
}

.left-cards {
    width: 340px;
    height: 315px;
    background-color: var(--background-color);
    text-align: center;
    border: 1px solid var(--background-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.top-container {
    height: 300px;
   
  


}

.info {
    height: 100px;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
}

.info>h3 {
    font-size: 20px;
    line-height: 25px;
}

.info>p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color:rgb(0, 0, 0, 0.5);

}



.bottom-container {
    background-color: var(--background-color);
    height: 90px;
    width: 340px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;  
    border-right: 1px solid var(--background-color);
    border-bottom-right-radius: 10px;


}
 



.nav-icon {
    width: 100px; 
    height: 68px; 
    background-color: var(--text-color);
    text-align: center;
    padding-top: 25px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    

 
  
}

.price {
    padding-right: 20px;
    
}

.old-price {
    padding-left: 50px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
    color: rgb(0, 0, 0, 0.5);
}

.new-price {
    color: rgba(138, 23, 14, 0.897);
    font-size: 40px;
    font-weight: bold;
}



.right-cards {
    width: 340px;
    height: 315px;
    background-color: rgb(252, 215, 10);
    text-align: center;
    border: 1px solid rgb(252, 215, 10);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
   
}


.right.bottom-container {
    background-color: rgb(252, 215, 10);
    border-color: rgb(252, 215, 10);
}


/* иконки */
.icons {
    display: flex;
    margin: 0 auto;
    
    padding-top: 15px; 
    justify-content: space-between;
    width: 760px;
    height: 50px;
    background-color: var(--backgrond-main);
    border: 2px solid var(--text-color);
    border-radius: 10px;
}
.main-info {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 5px;
    color: var(--background-color);
}

.main-icons img {
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */


.color-block-top{
    
    margin: 0 auto;
    margin-top: 80px;
    width: 760px;
    height: 300px;
    color: var(--background-color);
    background-color: var(--backgrond-main);
    border: 2px solid var(--text-color);
    border-radius: 10px;
  
}
 
.color-info {
    
    color: #fff;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 18px;
}

.color {
    display: flex;
    padding-left: 30px;
    display: flex;
    gap: 20px;
}



.color div {
    width: 60px;
    height: 60px;
    border: 2px solid ;
    border-radius: 10px;
}

