
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --text-color: #000;
    --background-color: #fff;
    --backgrond-main: #333333;
}

body {
    background-color: var(--text-color);
    color: var(--text-color);
    margin: 100px auto;
    font-family: "Rubik", serif ;
}


/* 2 карты товаров */
.cards {

    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    width: 760px;
    padding-bottom: 100px;
    gap: 50px;
}

.left-cards {
    width: 340px;
    height: 315px;
    text-align: center;
    padding-bottom: 100px;
}


.top-container {
    position: relative;
    background-color: var(--background-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



.info {
    padding-bottom: 40px;
    text-align: left;
    padding-left: 30px;
    padding-top: 50px;
}

.info>h3 {
    font-size: 20px;
    font-weight: bolder;
    line-height: 25px;
}

.info>p {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 0, 0, 0.5);

}



.bottom-container {
    height: 90px;
    display: flex;
}


.nav-icon-con {
    background-color: #fff;
}

.nav-icon {
    color: #fff;
    font-size: 21px;
    font-weight: bolder;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
    text-align: center;
    border-top-right-radius: 10px;
}

.icon-plus {
    padding-left: 3px;

}

.price {
    width: 100%;
    padding-right: 20px;
    background-color: var(--background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.old-price {
    text-align: right;
    padding-left: 50px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: line-through;
    color: rgb(0, 0, 0, 0.5);
}

.new-price {
    text-align: right;
    color: rgba(138, 23, 14, 0.897);
    font-size: 40px;
    font-weight: bolder;
}

/* правая карта  */


.right-cards {
    width: 340px;
    height: 315px;
    text-align: center;
    padding-bottom: 100px;
}

.right-cards .top-container {
    background-color: rgb(252, 215, 10);
}

.right .price {
    background-color: rgb(252, 215, 10);
    border-color: rgb(252, 215, 10);
}

.right .nav-icon-con {
    background-color: rgb(252, 215, 10);
}

.rebate {
    position: absolute;
    top: -20px;
    left: -28px;
}

.rebate-total {
    position: absolute;
    transform: rotate(-45deg);
    padding-top: 5px;
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/* иконки */
.icons {
    display: flex;
    margin: 0 auto;

    padding-top: 15px;
    justify-content: space-between;
    width: 760px;
    height: 50px;
    background-color: var(--backgrond-main);
    border: 2px solid var(--text-color);
    border-radius: 10px;
}

.main-info {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 5px;
    color: var(--background-color);
}

.main-icons img {
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */


.color-block-top {

    margin: 0 auto;
    margin-top: 80px;
    width: 760px;
    height: 300px;
    color: var(--background-color);
    background-color: var(--backgrond-main);
    border: 2px solid var(--text-color);
    border-radius: 10px;

}

.color-info {

    color: #fff;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 18px;
}

.color {
    display: flex;
    padding-left: 30px;
    display: flex;
    gap: 20px;
}



.color div {
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 10px;
}