*{
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #000;
}

body {
  background-color: var(--text-color);
  color: var(--text-color);
  margin: 100px auto;

}


/* 2 карты товаров */
.cards {

  display: flex; 
  margin-top:220px ;
 margin: 0 auto;
  width: 760px;
  height: 850; 
  gap: 50px;
}

.left-cards {
  width: 340px;
  height: 430px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}


.top-container {
  
    border: 2px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;
    /* background-color: #ffffff; */
    
}

.info {
    text-align: left;
    padding: 10px;
}

.info>h3 {
    font-size: 20px;
    line-height: 25px;
}

.info>p

.bottom-container {
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 255, 255); */
    /* border: 2px solid #fff; */
    border-top: 0;
    border-bottom-right-radius: 10px;

}

.icon {
    width: 100px;
    height: 50px;
    background-color: var(--text-color);
    text-align: center;
    padding-top: 20px;
    border: 2px solid var(--text-color);
    border-top-right-radius: 10px;
} 

.right-cards {
    width: 340px;
    height: 430px;
    background-color:  rgb(230, 215, 11);
    text-align: center;
}


.right.top-container  {

    border: 2px solid rgb(230, 215, 11);
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 10px;

}
    
